<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for @employee do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.association :position %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
